<div class="minicart-wrapper">
    <button type="button" class="action showcart" id="minicart-toggle-${ data.minicartId }" data-action="toggle-minicart">
        <span data-bind="i18n: 'Cart'"></span>
    </button>
    <div class="minicart-content" id="minicart-content-${ data.minicartId }" data-role="dropdownDialog">
        <!-- ko foreach: $parent.getRegion('minicart_content') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <div class="minicart-overlay" id="minicart-overlay-${ data.minicartId }"></div>
</div>
